

{% if is_paginated %}

<ul class="pagination justify-content-center pdt">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        {% if page_obj.has_previous %}
        <a class="btn btn-secondary btn-sm mb-4" href="?page=1"><span class="material-icons inline" title="First">first_page</span></a>
        <a class="btn btn-secondary btn-sm mb-4" href="?page={{ page_obj.previous_page_number }}" title="Previous"><span class="material-icons inline">chevron_left</span></a>
        {% endif %}

        {%for num in page_obj.paginator.page_range %}
        {%if page_obj.number == num %}
        <li class="page-item active">
            <a class="btn btn-light btn-sm mb-4" href="?page={{ num }}">{{ num }}<span class="sr-only"></span></a>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-secondary btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-secondary btn-sm mb-4" href="?page={{ page_obj.next_page_number }}" title="Next"><span class="material-icons inline">chevron_right</span></a>
        <a class="btn btn-secondary btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}" title="Last"><span class="material-icons inline">last_page</span></a>
        {% endif %}
    </div>

</ul>



{% endif %}