{% extends "gags/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group txt">
            <legend class="border-bottom mb-4">Post a gag</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <br>
            <button class="btn btn-outline-secondary" type="submit">Post-it</button>
        </div>
    </form>
</div>

{% endblock content %}